
:root {
  --color-gray-50: #ecf3f8;
  --color-gray-100: #ccdbe5;
  --color-gray-200: #abc4d5;
  --color-gray-300: #89adc6;
  --color-gray-400: #6896b6;
  --color-gray-500: #507c9d;
  --color-gray-600: #3e607a;
  --color-gray-700: #2e4557;
  --color-gray-800: #1b2934;
  --color-gray-900: #070e13;
  
  --color-red-50: #ffe5e5;
  --color-red-100: #fbbaba;
  --color-red-200: #f28e8e;
  --color-red-300: #eb6161;
  --color-red-400: #e43535;
  --color-red-500: #ca1b1b;
  --color-red-600: #9e1314;
  --color-red-700: #710c0e;
  --color-red-800: #460506;
  --color-red-900: #1e0000;

  --color-orange-50: #fff6e5;
  --color-orange-100: #fde5b9;
  --color-orange-200: #fdd489;
  --color-orange-300: #fcc458;
  --color-orange-400: #fcb32f;
  --color-orange-500: #e39a1f;
  --color-orange-600: #b17816;
  --color-orange-700: #7e560e;
  --color-orange-800: #4c3307;
  --color-orange-900: #1a1100;

  --color-yellow-50: #ffffe5;
  --color-yellow-100: #ffffb9;
  --color-yellow-200: #ffff89;
  --color-yellow-300: #fffe5b;
  --color-yellow-400: #fffe37;
  --color-yellow-500: #e6e529;
  --color-yellow-600: #b3b31f;
  --color-yellow-700: #808014;
  --color-yellow-800: #4c4d08;
  --color-yellow-900: #191a00;


  --color-green-50: #e2fbef;
  --color-green-100: #c1ecd6;
  --color-green-200: #9ddfbc;
  --color-green-300: #79d1a2;
  --color-green-400: #55c489;
  --color-green-500: #3baa6f;
  --color-green-600: #2c8455;
  --color-green-700: #1d5f3d;
  --color-green-800: #0d3a23;
  --color-green-900: #001506;
}
